/*-----------------------------------
Colors
-------------------------------------
Off-White: #f1f1f1;
LightGrey: #d6d6d6;
Grey: #787878;
Dark Grey: #343433;

Way-Lightest Blue: #aedbef;
Lightest Blue: #52a5c9;
Lighter Blue: #2d92bd;
Blue: #0883b8;
Darker-Blue: #05648d;
Darkest-Blue: #034e6e;

Lightest Orange: #ff9260;
Lighter Orange: #ff7334;
Orange: #ff4f00;
Darker Orange: #e04600;
Darkest Orange: #af3700;

Lightest Yellow: #ffcb60;
Lighter Yellow: #ffbc34;
Yellow: #ffab00;
Darker Yellow: #e09700;
Darkest Yellow: #af7600;
-----------------------------------*/

/*-----------------------------------
General and Typography
-----------------------------------*/

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Lora", serif;
}

h1 {
  color: #343433;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #343433;
  font-size: 24px;
  text-transform: uppercase;
}

h3 {
  padding: 10px 0 0 5%;
  color: #343433;
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
}

h4 {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 14px;
}

h5 {
  font-size: 16px;
  padding: 0px;
}

h1,
h2,
h4 {
  padding:10px 5%;
}

body {
  background-color: #fff;
}

p {
  font-size: 14px;
  color: #343433;
  line-height: 21px;
}

a {
  color: #0883b8;
  text-decoration: none;
  margin-top: 12px;
  display: block;
}

hr {
  height: 1px;
  background-color: #d6d6d6;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skinny-line {
  margin: 0 5%;
  border: 0px;
  background-color: #343433;
}

ul {
  display: inline;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.accent-text {
  color: #ff4f00;
  font-size: 12px;
}

.strong-text {
  font-weight: bold;
  font-size: 12px;
  color: #343433;
}

.clear-fix {
  overflow: auto;
}

.container {
  max-width: 750px;
  background-color: #f1f1f1;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  display: inline-block;
}

.add-shadow {
  box-shadow: 0px 0px 4px #787878;
}

/*-----------------------------------
Nav
-----------------------------------*/
#tabs .container {
  background: transparent;
}

.nav > li > a {
  padding: 8px 6px;
  color: #343433;
}

.nav > li > a:hover {
  text-decoration: underline;
}

.nav-tabs > li {
  margin-bottom: 0px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

#tab-experience,
.tab-content #workExperience {
  background-color: #d6d6d6;
  color: #787878;
}

#tab-projects,
.tab-content #projects {
  background-color: #ffcb60;
  color: #af7600;
}

#tab-education,
.tab-content #education {
  background-color: #52a5c9;
  color: #034e6e;
}

#tab-map,
.tab-content #mapDiv {
  background-color: #ff9260;
  color: #af3700;
}

#tab-experience:hover,
#tab-projects:hover,
#tab-education:hover,
#tab-map:hover  {
  color: #343433;
}

/*-----------------------------------
Header
-----------------------------------*/

#header {
  -webkit-box-shadow: inset 0px 21px 19px -18px rgba(120,120,120,0.25);
  -moz-box-shadow: inset 0px 21px 19px -18px rgba(120,120,120,0.25);
  box-shadow: inset 0px 21px 19px -18px rgba(120,120,120,0.25);
}

.role {
  color: #787878;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

#topContacts a {
  display: inline;
  color: #343433;
}

.row #sub-header {
  margin: 0px;
}

.col-biopic {
  position: relative;
  margin: 0px 0px 0px 15px;
  float: left;
  width: 125px;
}

.biopic {
  padding: 4px;
  margin: 5px;
  width: 100px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #0883b8;
  line-height: 28px;
  display: inline-block;
  float: left;
  width: 65%;
}

.col-skills {
  position: relative;
  padding: 2px 15px 0px 15px;
  width: 400px;
}

#skills-h3 {
  color: #ffab00;
  font-size: 14px;
  padding: 0px;
}

/*-----------------------------------
Section Styling
-----------------------------------*/

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

.project-entry img {
  max-width: 30%;
  padding: 5px 0px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #787878;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #787878;
  float: right;
}

#map {
  display: block;
  height: 90%;
  margin: 0 5%;
}

#mapDiv {
  height: 350px;
  width: 100%;
  padding-bottom: 5%;
}

#mapDiv h3 {
  padding: 5px 0px 2px 0px;
}

.tab-pane {
  padding-bottom: 20px;
  border-radius: 0px 30px 0px 0px;
}

.gradient {
  background: -webkit-linear-gradient(#ffab00, #e04600); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffab00, #e04600); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffab00, #e04600); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffab00, #e04600); /* Standard syntax */
}

.trans-gradient {
  background: -webkit-linear-gradient(to bottom, rgba(241,241,241,0), rgba(241,241,241,1));
  background: -o-linear-gradient(to bottom, rgba(241,241,241,0), rgba(241,241,241,1));
  background: -moz-linear-gradient(to bottom, rgba(241,241,241,0), rgba(241,241,241,1));
  background: linear-gradient(to bottom, rgba(241,241,241,0), rgba(241,241,241,1));
}

.gradient-pattern {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.05) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgba(3,78,110,1);
  background: -moz-linear-gradient(45deg, rgba(255,255,255,0.05) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgba(3,78,110,1);
  background: linear-gradient(45deg, rgba(255,255,255,0.05) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0.05) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgba(3,78,110,1);
  -webkit-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
}

/*-----------------------------------
Footer
-----------------------------------*/

#lets-connect {
  text-align: center;
}

.footer-bar {
  background-color: #ffab00;
  padding: 5px;
  border-top: 1px solid #343433;
  border-bottom: 1px solid #ffcb60;
}

#footerContacts {
  color: #f1f1f1;
  padding: 10px;
  display: inline-block;
}

.foot-contact {
  color: #222;
  font-weight: 700;
}

#footerContacts a {
  display: inline-block;
  color: #222;
}

#lets-connect h3 {
  font-style: normal;
  text-transform: uppercase;
}

/*-----------------------------------
Responsive
-----------------------------------*/

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  .col-biopic {
    width: 200px;
  }

  .col-skills {
  	width: 45%;
  	padding: 5px;
  	float: left;
  }

  .nav > li > a {
    padding: 10px;
    font-size: 12px;
    font-weight: 700;
  }

  #skills-h3 {
    font-size: 18px;
  }

  .biopic {
    width: 175px;
    margin: 10px;
  }

  #skills .flex-item {
    display: inline-block;
  }

  .strong-text, .accent-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 960px) {
  h1 {
  	margin-top: 10px;
  }

  .container {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}